
  <!-- HEADER -->
   <div class="container-fluid">
 <div class="page-header">
    <h4 class="mb-1">
      <i class="fa-solid fa-graduation-cap me-2"></i> My Enrolled Batches
    </h4>
    <p class="mb-0 opacity-75">Access your batch recordings anytime</p>
  </div>
   </div>
 

  <!-- ================= ENROLLED BATCHES ================= -->
  <section>
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-center">  
        @for (item of enrolledBatch(); track $index) {
          <button class="btn btn-secondary" (click)="sessionRecording(item.batchId)">            
            <div>{{item.batchName}}</div> 
        </button>
        }
      </div>
      </div>
  </section>

  <!-- ================= SESSION RECORDINGS (ON BATCH CLICK) ================= -->
  <section class="mt-5">
<div class="container-fluid">
    <h5 class="mb-4">
      <i class="fa-solid fa-video me-2 text-primary"></i>
      Angular Batch 2026 – Session Recordings
    </h5>

    <div class="row g-4">
      @for (item of sessionRecord(); track $index) {
        <div class="col-md-4">
        <div class="card session-card shadow-sm" (click)="openVideoModal()">
          <div class="card-body">
            <h6>
              <i class="fa-solid fa-play-circle me-2"></i>
              {{item.topicName}}
            </h6>
            <p class="text-muted small mb-2">
              {{item.topicDescription}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <span class="badge badge-duration">90 mins</span>
              <small class="text-muted">
                <i class="fa-regular fa-calendar me-1"></i>
                {{item.sessionDate}}
              </small>
            </div>
          </div>
        </div>
      </div>
      }
      

    </div>
</div>



<div class="modal fade" #videoModal>
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="closeVideoModal()">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" (click)="closeVideoModal()">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  </section>
