<!-- SIDEBAR -->
<!-- <aside class="sidebar">
  <div class="sidebar-header">
    <label for="sidebarToggle" class="hamburger">
      <i class="fa-solid fa-bars"></i>
    </label>
    <span class="logo-text">MyAdmin</span>
  </div>

  <div class="sidebar-menu">
    <div class="menu-item">
      <i class="fa-solid fa-house"></i><span>Dashboard</span>
    </div>

    <div class="menu-item active">
      <i class="fa-solid fa-users"></i><span>Candidates</span>
    </div>

    <details>
      <summary>
        <i class="fa-solid fa-gear"></i><span>Settings</span>
        <i class="fa-solid fa-chevron-down ms-auto"></i>
      </summary>
      <div class="submenu">
        <a href="#">Roles</a>
        <a href="#">Permissions</a>
      </div>
    </details>
  </div>

  <div class="sidebar-footer">
    <i class="fa-solid fa-right-from-bracket"></i>
    <span>Logout</span>
  </div>
</aside> -->

<!-- MAIN -->
<div class="container-fluid py-4">

    <div class="page-header d-flex justify-content-between align-items-center">
        <h4 class="mb-0">
            <i class="fa-solid fa-user-tie me-2"></i> Candidate Management
        </h4>
        <div class="d-flex gap-2">
            <button class="btn btn-light btn-icon" (click)="onToggleView()"
                [title]="toggleView ?'Card View':'Table View'">
                <i class="fa-solid " [ngClass]="toggleView ?'fa-grip':'fa-table'"></i>
            </button>
            <button class="btn btn-warning" (click)="openModal()">
                <i class="fa-solid fa-plus me-1"></i> Add Candidate
            </button>
        </div>
    </div>

    @if(!toggleView){
    <!-- TABLE VIEW -->
     @if(activeLoader()){
        <div class="d-flex justify-content-center">
            <div class="spinner-border" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
     }
     @else {
        <table class="table table-hover bg-white shadow-sm rounded align-middle">
        <thead class="table-primary">
            <tr>
                <th>Sn</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Mobile</th>
                <th>Role</th>
                <th>Status</th>
                <th class="text-center">Action</th>
            </tr>
        </thead>
        <tbody>
            @for (item of candidateList(); track $index) {
            <tr>
                <td>{{$index +1}}</td>
                <td>{{item.fullName}}</td>
                <td>{{item.email}}</td>
                <td>{{item.mobileNumber}}</td>
                <td>{{item.role}}</td>
                <td><span class="badge"
                        [ngClass]="item.isActive?'bg-success':'bg-warning'">{{item.isActive?'Active':'Inactive'}}</span>
                </td>
                <td class="text-center action-icons">
                    <i class="fa-solid fa-pen text-primary" (click)="onEditCandidate(item.candidateId)"></i>
                    <i class="fa-solid fa-trash text-danger" (click)="onDeleteCandidate(item.candidateId)"></i>
                </td>
            </tr>
            }

        </tbody>
    </table>
     }
    
    }
    @else{
    <!-- CARD VIEW -->
    <div class="row mt-4">
        @for (item of candidateList(); track $index) {
        <div class="col-md-4">
            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h5>{{item.fullName}}</h5>
                    <p class="text-muted mb-1">{{item.email}}</p>
                    <p class="mb-1"><strong>Mobile:</strong>{{item.mobileNumber}}</p>
                    <p class="mb-2"><strong>Role:</strong> {{item.role}}</p>
                    <span class="badge"
                        [ngClass]="item.isActive?'bg-success':'bg-warning'">{{item.isActive?'Active':'Inactive'}}</span>
                </div>
                <div class="card-footer bg-white text-end action-icons">
                    <i class="fa-solid fa-pen text-primary"></i>
                    <i class="fa-solid fa-trash text-danger"></i>
                </div>
            </div>
        </div>
        }

    </div>
    }




</div>

<!-- RIGHT PANEL MODAL -->
<div class="modal right-panel" #candidateModal>
    <div class="modal-dialog modal-dialog-scrollable">
       
            <form [formGroup]="newCandidatehObj" class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">
                        <i class="fa-solid fa-user-plus me-2"></i> Candidate Form
                    </h5>
                    <button class="btn-close" (click)="closeModal()"></button>
                </div>

                <div class="modal-body">

                    <div class="col-12">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control" required name="fullName" minlength="4" formControlName="fullName">
                        @if (newCandidatehObj.controls['fullName'].errors?.['required']) {
                            <span class="text-danger">This is required field</span>
                        }
                        @if (newCandidatehObj.controls['fullName'].errors?.['minlength']) {
                            <span class="text-danger">Min Character 4 is required</span>
                        }

                    </div>

                    <div class="col-12 mt-2">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" name="email" formControlName="email">
                    </div>

                    <div class="col-12 mt-2">
                        <label class="form-label">Mobile Number</label>
                        <input type="text" class="form-control" name="mobileNumber" formControlName="mobileNumber">
                    </div>

                    <div class="col-12 mt-2">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" name="password" formControlName="password">
                    </div>

                    <div class="col-12 mt-2">
                        <label class="form-label">Role</label>
                        <select class="form-select" name="role" formControlName="role">
                            <option>Candidate</option>
                            <option>Super Admin</option>
                           
                        </select>
                    </div>

                    <div class="col-12 mt-4">
                        <div class="form-check form-switch">
                            <input type="checkbox" class="form-check-input" name="isActive" formControlName="isActive"
                             />
                            <label class="form-check-label" for="isActive">Status</label>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <button class="btn btn-secondary" (click)="closeModal()">Cancel</button>
                    @if (newCandidatehObj.controls['candidateId'].value==0) 
                    {
                    <button type="button" class="btn btn-primary" (click)="onSaveCandidate()">
                        <i class="fa-solid fa-floppy-disk me-1"></i> Save
                    </button>
                    }
                    @else {
                        <button type="button" class="btn btn-warning" (click)="onUpdateCandidate()">
                        <i class="fa-solid fa-floppy-disk me-1"></i> Update
                    </button>
                    }
                    
                </div>
            </form>
        
    </div>
</div>