<div class="batch-parent">
  <div class="container-fluid py-4">

    <!-- Header -->
    <div class="page-header d-flex justify-content-between align-items-center mb-4">
      <h4 class="mb-0">
        <i class="fa-solid fa-layer-group me-2"></i> Batch Management
      </h4>
      <div class="d-flex gap-2">
        <button class="btn btn-light btn-icon" (click)="onToggleView()" [title]="toggleView ?'Card View':'Table View'">
          <i class="fa-solid " [ngClass]="toggleView ?'fa-grip':'fa-table'"></i>
        </button>
        <button class="btn btn-warning ms-2" (click)="openModal()">
          <i class="fa-solid fa-plus me-1"></i> Add Batch
        </button>
      </div>
    </div>

    @if (toggleView) {
    <!-- TABLE VIEW -->
    <div class="table-container mb-4">
      <table class="table table-hover align-middle bg-white shadow-sm rounded">
        <thead class="table-primary">
          <tr>
            <th>Batch Name</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th class="text-center" width="100">Action</th>
          </tr>
        </thead>
        <tbody>
          @if(batchList().length!=0){
            @for (item of batchList(); track $index) {
          <tr>
            <td>{{item.batchName}}</td>
            <td>{{item.description}}</td>
            <td>{{item.startDate}}</td>
            <td>{{item.endDate}}</td>
            <td>
              <span class="badge  badge-status"
                [ngClass]="item.isActive?'bg-success':'bg-warning'">{{item.isActive?'Active':'InActive'}}</span>
            </td>
            <td class="text-center action-icons">
              <i class="fa-solid fa-pen text-primary" (click)="onEditBatch(item)"></i>
              <i class="fa-solid fa-trash text-danger" (click)="onDeleteBatch(item.batchId)"></i>
            </td>
          </tr>
          }
          }
          @else {
            <tr>
              <td colspan="6"> No Data....</td>
            </tr>
          }
          
        </tbody>
      </table>
    </div>
    }

    @if (!toggleView) {
    <!-- CARD VIEW -->
    <div class="row card-container">
      @for (item of batchList(); track $index) {
      <div class="col-md-4 mb-4">
        <div class="card h-100 shadow-sm">
          <div class="card-body">
            <h5 class="card-title">{{item.batchName}}</h5>
            <p class="card-text text-muted">
              {{item.description}}
            </p>
            <p class="mb-1"><strong>Start:</strong> {{item.startDate}}</p>
            <p class="mb-2"><strong>End:</strong> {{item.endDate}}</p>
            <span class="badge badge-status" [ngClass]="item.isActive?'bg-success':'bg-warning'">{{item.isActive?'Active':'InActive'}}</span>
          </div>
          <div class="card-footer bg-white text-end action-icons">
            <i class="fa-solid fa-pen text-primary"></i>
            <i class="fa-solid fa-trash text-danger"></i>
          </div>
        </div>
      </div>
      }

    </div>
    }


  </div>
</div>



<!-- MODAL -->
<div class="modal right-panel" #batchModal>
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="fa-solid fa-clipboard-list me-2"></i> Batch Form
        </h5>
        @if(batchID()!=0){
          {{batchID() | json}}
        }
        <button class="btn-close" (click)="closeModal()" data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body">
        <form>
          <div class="row g-3">
            <div class="col-12">
              <label for="batchName" class="form-label">Batch Name</label>
              <input type="text" name="batchName" class="form-control" [(ngModel)]="newBatchObj.batchName" placeholder="Enter batch name">
            </div>            

            <div class="col-12">
              <label class="form-label" for="startDate">Start Date</label>
              <input type="datetime-local" name="startDate" class="form-control" [(ngModel)]="newBatchObj.startDate">
            </div>

            <div class="col-12">
              <label class="form-label" for="endDate">End Date</label>
              <input type="datetime-local" name="endDate" class="form-control" [(ngModel)]="newBatchObj.endDate">
            </div>

            <div class="col-12">
              <label class="form-label" for="description">Description</label>
              <textarea class="form-control" name="description" [(ngModel)]="newBatchObj.description" rows="3"></textarea>
            </div>

            <div class="col-12">
              <div class="form-check form-switch">
                <input type="checkbox" class="form-check-input"  name="isActive" [(ngModel)]="newBatchObj.isActive" />
                <label class="form-check-label" for="isActive">Status</label>
              </div>
            </div>

          </div>
        </form>
      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary" (click)="resetForm()">Reset</button>
        @if (newBatchObj.batchId==0) {
          <button class="btn btn-primary" (click)="onSaveBatch()">
          <i class="fa-solid fa-floppy-disk me-1"></i> Save
        </button>
        }
        @else {
                
        <button class="btn btn-warning" (click)="updateBatchById()">
          <i class="fa-solid fa-floppy-disk me-1"></i> Update
        </button>
        }
  
        
      </div>
    </div>
  </div>
</div>